*,
*::before,
*::after {
  box-sizing: border-box;
}

ui-view.ng-enter {
    /* transition on enter for .5s */
    transition: .5s;

    /* start with opacity 0 (invisible) */
    opacity: 0;
}

/* end 'enter' transition on main view */
ui-view.ng-enter-active {
    /* end with opacity 1 (fade in) */
    opacity: 1;
}
